
/**
 * Admin listing page =================================================
 */
table.message-admin td.message-name {
  width:75%;
  padding-left:20px;
  }

table.message-admin td.tag { font-style:italic; }

table.message-admin td.message-links { white-space:nowrap; }

table.message-admin em.storage,
table.message-admin tr.disabled td.message-name { color:#999; }

table.message-admin div.description {
  padding-left:10px;
  margin:0px;
  }

table.message-admin input.form-text { width:90%; }

/**
 * message form =======================================================
 */
.message-plugins {
  position:relative;
  margin:0px 0px 10px;
  }

.message-plugins .message-plugin-info {
  padding:10px 10px 9px;
  border-bottom:1px solid #e8e8e8;
  }

.message-plugins .message-plugin-info div.description {
  margin:0px 0px 10px;
  padding:0px;
  }

.message-plugins .message-plugin-selector {
  width:25%;
  background:#fff;
  }

  .message-plugins .message-plugin-list .disabled { display:none; }

  .message-plugins .message-plugin-list ul {
    margin:0px;
    padding:0px;
    }

  .message-plugins .message-plugin-list li {
    list-style:none;
    list-style-image:none;
    background:transparent;

    padding:0px;
    margin:0px;
    border:0px;
    }

  .message-plugins .message-plugin-list li a {
    display:block;
    position:relative;
    padding:5px 10px 4px;
    border-bottom:1px solid #e8e8e8;
    }

  .message-plugins .message-plugin-list li a.active-form {
    background:#f8f8f8;
    color:#333;
    font-weight:bold;
    }

  .message-plugins .message-plugin-list li span.remove {
    display:none;
    position:absolute;
    top:5px;
    right:10px;

    font-size:9px;
    font-weight:normal;

    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    padding:0px 5px;
    background:#fff;
    }

    .message-plugins .message-plugin-list li a:hover span.remove { display:block; }

.message-plugins .message-plugin-forms {
  float:right;
  width:75%;
  background:#f8f8f8;
  min-height:200px;
  }

  .message-plugins .message-plugin-forms .message-plugin-form {
    padding:10px;
    display:none;
    }

  .message-plugins .message-plugin-forms .active-form { display:block; }

  .message-plugins .message-plugin-form {
    max-height:400px;
    overflow:auto;
    }
