
/**
 * Admin listing page =================================================
 */
table.message-admin td.message-name {
  width:75%;
  padding-left:20px;
  }

table.message-admin td.tag { font-style:italic; }

table.message-admin td.message-links { white-space:nowrap; }

table.message-admin em.storage,
table.message-admin tr.disabled td.message-name { color:#999; }

table.message-admin div.description {
  padding-left:10px;
  margin:0px;
  }

table.message-admin input.form-text { width:90%; }
