/* $Id:$ */

.message-node-teaser {
  border-left: 1px dotted darkGray; /* LTR */
  padding-left: 20px; /* LTR */
  margin-left: 20px; /* LTR */
}

.view-message-example .views-field-timestamp {
  font-size: 85%;
  color: grey; 
  margin-bottom: 10px;
}
